/* header */
header .headerIconSpan{
    float:right; 
    position: absolute; 
    bottom: 3px; 
    right: 20px;
}

header .headerIconSpan li{

    padding-right: 30px;
    float: left;
}